eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$(oh-my-posh init zsh --config  $(brew --prefix oh-my-posh)/themes/quick-term.omp.json)"

export PATH="$HOME/bin:$PATH"

# load modules
for file in ~/.shell_modules/*
    do
        if [ -f "$file" ]
        # echo "loading $file"
        then source "$file"
        fi
    done
